<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h3>This site created by Safwat Fathi. It consumes data from mapbox.com and darksky.net APIs.</h3>
    </div>

    {{>footer}}
</body>

</html>